:root {
  --main-text-cl: #212121;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --alt-text-cl: #757575;
  --alt-title-cl: #ffffff;
  --dark-bg: #2f303a;
  --second-bg: #f5f4fa;
}

a {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  padding-top: 80px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--alt-title-cl);
}
/*Навигация*/
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
header {
  border-bottom: 1px solid #ececec;
  position: fixed;
  min-width: 80px;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--alt-title-cl);
  z-index: 3;
}

.container_Flex {
  display: flex;
  align-items: center;
}
.nav-page {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0px;
}

.link {
  text-decoration: none;
}
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: Raleway;
  color: var(--title-cl);
  width: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo > .logo-web {
  color: var(--accent-cl);
}
.nav-link.nav-link-akcent {
  display: block;
  color: var(--accent-cl);
  position: relative;
}
.nav-link.nav-link-akcent::after {
  display: block;
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--accent-cl);
  left: 0;
  bottom: 0;
  border-radius: 2px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-cl);
}
.nav-link:hover {
  color: var(--accent-cl);
}
.nav-adres {
  display: flex;
  margin-left: auto;
}
.nav-adres .item + .item {
  margin-left: 42px;
}
.svg-fone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  fill: currentColor;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
.nav-adres-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;

  color: var(--alt-text-cl);
}
.nav-adres-link:hover {
  color: var(--accent-cl);
}
/*портфолио*/
.portfplio-box {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfplio-conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.portfplio-nav {
  margin: 0px 0px 50px 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
.link-nav {
  text-decoration: none;
  display: block;
  padding: 6px 22px 6px 22px;

  background-color: var(--second-bg);
  font-weight: 500;
  color: var(--title-cl);
}
.link-nav:hover {
  color: var(--alt-title-cl);
  background-color: var(--accent-cl);
}

.item {
  margin-right: 8px;
}
.item:last-child {
  margin-right: 0px;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
  list-style: none;
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.portfolio-thumb::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
.portfolio-decript {
  position: absolute;
  display: flex;
  min-width: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--alt-title-cl);
  opacity: 0;
}
.examples-box {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
  border: 1px solid #eeeeee;
}
.examples-box:hover {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%),
    1px 4px 6px rgb(0 0 0 / 16%);
}
.text-box {
  padding: 20px 24px 20px 24px;
}
.examples-title {
  display: block;
  margin: 0px;

  padding-right: auto;
  margin-bottom: 4px;

  font-size: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--main-text-cl);
}
.text {
  display: block;
  margin: 0px;

  color: var(--alt-text-cl);
}
/*Футер*/
footer {
  background-color: var(--dark-bg);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.logo-footer {
  display: block;
  font-family: Raleway;
  width: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--alt-title-cl);
}
.logo-web-footer {
  color: var(--accent-cl);
}
.footer-adres {
  display: block;
  margin: 0px;
  font-style: normal;
  font-size: 14px;
  color: var(--alt-title-cl);
}
.footer-adres-item {
  margin-right: 70px;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-item {
  display: block;
  margin-top: 9px;
}
.footer-title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  color: var(--alt-title-cl);
}
.footer-icon {
  margin-top: 10px;
  padding: 0px;
  list-style: none;
  display: inline-flex;
}

.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(68, 69, 78, 1);
}
.footer-icon-item:not(:last-child) {
  margin-right: 10px;
}
.footer-icons-svg {
  width: 20px;
  height: 20px;
  fill: var(--alt-title-cl);
}
.footer-icon-link:hover {
  background-color: var(--accent-cl);
}
